<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
  <section class="vh-100" style="background:linear-gradient(90deg, rgb(59, 156, 194),blue, rgb(86, 45, 119));">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card   p-4" style="border-radius: 15px; background-color: rgb(225, 220, 220);">
              <div class="card-body p-auto" style="border-radius: 10px;">
                <h2 class="text-uppercase text-center mb-5">Create an account</h2>


                <% if(userregistered) { %>
                  <div id="userregistered" class="alert alert-dismissible fade show alert-<%= userregistered.type %>" role="alert">
                      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
                      <strong><%= userregistered.message %></strong>
                  </div>
                <% } %>

                <% if(emailexist) { %>
                  <div id="emailexist" class="alert alert-dismissible fade show alert-<%= emailexist.type %>" role="alert">
                      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
                      <strong><%= emailexist.message %></strong>
                  </div>
                <% } %>
  
                <form id="form" method="post" action="/register">
                    
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Your Name</label>
                    <input type="text" id="username" class="form-control form-control-lg" name="name"/>
                    <div class="error"></div>
                  </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Your Email</label>
                    <input type="email" id="email" class="form-control form-control-lg" name="email" />
                    <div class="error"></div>
                  </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Password</label>
                    <input type="password" id="password" class="form-control form-control-lg" name="password" />
                    <div class="error"></div>
                  </div>
  
                  <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                  </div>
  
                  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href=/
                    class="fw-bold text-body"><u>LoginHere</u></a></p>  
                </form>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    setTimeout(function() {
        const alertDiv = document.getElementById('userregistered');
        if (alertDiv) {
          alertDiv.remove();
        }
      }, 5000);

      setTimeout(function() {
        const alertDiv = document.getElementById('emailexist');
        if (alertDiv) {
          alertDiv.remove();
        }
      }, 5000);
  </script>

  <script defer src="js/registervalidation.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>